.about {
  .section-title {
    text-align: center;
  }
  .block {
    text-align: center;
  }
}

.feature.bg-2 {
  .container {
    .row {
      .col-md-12 {
        text-align: center;
      }
    }
  }
}